*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Open Sans, sans-serif;
}
/*Nav Bar*/
nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
	position: sticky;
	top: 0px;
	background-color: white;
	z-index: 5;
}

ul .nav-logo{
	display:  inline;
}

nav ul{
	align-items: left;
}

nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline-block;
}

.right-nav{
	float: right;
}
					
nav .nav-logo{
	left: 50px;
}


.tuitt-button, .apply-button {
	background-color: #c2195b;
	color: white;
	padding: 8px 15px;
	font-weight: bold;
	border-radius: 25px;
	border-style: none;
	font-size: 1rem;
}
/*End of Nav Bar*/

/*Landing Page*/
#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px 60px;
    min-height: 40vh;

}



.front-bg{
	background: rgba(0,0,0,.5);
	height: 40vh;
}

.title, .title-2{;
	font-family: Zilla Slab;
}
.title{
	color: white;
}

.title{
	font-size: 2.5rem;
}
.subtitle{
	font-size: 1.2rem;
	color: white;
	font-weight: 400;
	margin-top: 1rem;
}

.container{
	width: 40vw;
	position: relative;
	left: 45vw;
	text-align: right;
}

.apply-button{
	margin-top: 1rem;
}
/*End of Landing Page*/


/*Intro*/
.title-2{
	margin: 2rem;
}

.intro{
	text-align: center;
}

.intro-description{
	margin: 0 20%;
	text-align: justify;
}
/*End of Intro*/

/*Pre footer*/
.pre-footer{
	text-align: center;
	background-color: #f7fbfb;
	margin: 50px 50px 0;
	padding: 40px 50px 70px;
	height: 50vh;
}

.prefooter-description{
	margin: 0 16.5%;
	text-align: center;
}

.book-button{
	background-color: #336589;
	color: white;
	padding: 8px 30px;
	font-weight: bold;
	border-radius: 25px;
	border-style: none;
	font-size: 1rem;
	margin-top: 20px;
}
/*Pre footer End*/

/*Footer*/
footer{
	text-align: center;
	margin-bottom: 50px;
}
/*Footer*/